/* app css stylesheet */

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.pulls-list-group .list-group-item {
    padding-left: 34px;
}

.list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 8px 10px 10px 40px;
    border: 1px solid #e5e5e5;
}

.logged_in .list-group-item.unread .issue-item-unread {
    position: absolute;
    top: 0;
    left: -1px;
    bottom: 0;
    width: 3px;
    background-color: #4183c4;
}

.list-group-item:first-child .issue-item-unread {
    border-top-left-radius: 3px;
}

.list-group-item-number {
    position: relative;
    top: 2px;
    float: right;
    margin-left: 12px;
    font-size: 13px;
    color: #999;
}

.list-group-item-name {
    margin: 0 60px 0 0;
    font-size: 15px;
    line-height: 1.3;
    word-wrap: break-word;
}

.octicon {
    font: normal normal 16px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.list-group-item-name .type-icon {
    float: left;
    margin-top: 1px;
    margin-left: -24px;
}

.open.octicon {
    color: #6cc644;
}

.list-group-item .type-icon {
    vertical-align: middle;
    position: relative;
    top: 1px;
}

.list-group-item a {
    color: #333333;
}

a {
    color: #4183c4;
    text-decoration: none;
}
.list-group-item-summary {
    margin-top: 2px;
}

.list-group-item-summary p {
    margin: 0 0 5px;
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
}

.list-group-item-meta {
    font-size: 11px;
    line-height: 17px;
    list-style-type: none;
    overflow: hidden;
    color: #999999;
}

.list-group-item-meta>li {
    display: inline-block;
    margin-right: 4px;
}

