<!doctype html>
<html lang="en" ng-app="GHGFK">
<head>
    <meta charset="utf-8">
    <title>Merge GitHub's PRs with Git Flow style</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/github.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">GHGFK</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/repo">Select repository</a></li>
      </ul>
      <div ng-show="user" class="navbar-right navbar-brand pull-right ng-cloak">
          <a href="#/login">
            Welcome {{ user.name }}
          </a>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

    <h2>DON'T USE THIS IN PRODUCTION</h2>

    GitHub token is saved in the browser's localStorage
    <div ng-controller="Alert" class="ng-cloak">
        <div class="alert alert-{{ alert.type }}" ng-repeat="alert in alerts" role="alert">
            <button type="button" class="close" ng-click="close($index)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{alert.msg}}
        </div>
    </div>
    <div ng-view></div>
</div>
<script type="text/ng-template" id="partials/autoLogin.html">
    Please wait while authentication.
</script>
<script type="text/ng-template" id="partials/login.html">
    <form ng-submit="login()" class="form-horizontal form-signin">
        <h2 class="form-signin-heading">Please provide a GitHub token</h2>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="githubToken">Token</label>

            <div class="controls">
                <input type="text" ng-model="github_token" id="githubToken" required/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="partials/orgList.html">
    <h1>Select the organization</h1>
    <ul>
        <li class="list-group-item js-list-browser-item clearfix js-navigation-item unread navigation-focus"
            ng-repeat="organization in organizations | orderBy: 'login'">
            <a href="#/repo/{{organization.login}}">
                {{organization.login}}
            </a>
        </li>
    </ul>
</script>
<script type="text/ng-template" id="partials/repoList.html">
    <h1>Select the repository</h1>
    <ul>
        <li class="list-group-item js-list-browser-item clearfix js-navigation-item unread navigation-focus"
            ng-repeat="repo in repositories | orderBy: 'full_name'">
            <a href="#/repo/{{repo.full_name}}">
                {{repo.full_name}}
            </a>
        </li>
    </ul>
</script>
<script type="text/ng-template" id="partials/prList.html">
    <div class="pager">
        <ul>
            <li ng-hide="currentPage == 1" class="previous">
                <a ng-href="#/repo/{{ repoFullName }}/page/{{ currentPage - 1 }}/per_page/{{ per_page }}">« Previous</a>
            </li>
            <li ng-hide="prs.length != per_page" class="next">
                <a ng-href="#/repo/{{ repoFullName }}/page/{{ currentPage*1 + 1 }}/per_page/{{ per_page }}">Next »</a>
            </li>
        </ul>
    </div>
    <ul id="pull-request" style="width: 680px">
        <li class="list-group-item js-list-browser-item clearfix js-navigation-item unread navigation-focus"
            ng-repeat="pr in prs">
            <span class="list-group-item-number">#{{pr.number}}</span>
            <h4 class="list-group-item-name">
                <span class="type-icon octicon octicon-git-pull-request open" title="Open pull request"></span>
                <a href="{{pr.html_url}}" class="js-navigation-open" target="_blank">{{pr.title}}</a>
            </h4>

            <div class="list-group-item-summary"><a href="{{pr.html_url}}"><p>{{pr.body}}</p></a></div>

            <ul class="list-group-item-meta">
                <li>
                    <a href="{{pr.user.html_url}}" class="gravatar"><img height="16" ng-src="{{pr.user.avatar_url}}"
                                                                         width="16"></a>
                    by <a href="{{pr.user.html_url}}">{{pr.user.login}}</a>
                </li>
            </ul>

            <merge-button pr="pr"/>
        </li>
    </ul>
    <div class="pager">
        <ul>
            <li ng-hide="currentPage == 1" class="previous">
                <a ng-href="#/repo/{{ repoFullName }}/page/{{ currentPage - 1 }}/per_page/{{ per_page }}">« Previous</a>
            </li>
            <li ng-hide="prs.length != per_page" class="next">
                <a ng-href="#/repo/{{ repoFullName }}/page/{{ currentPage*1 + 1 }}/per_page/{{ per_page }}">Next »</a>
            </li>
        </ul>
    </div>
</script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="lib/github/github.js"></script>
<script src="lib/github/github-directives.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/Controller/AutoLoginController.js"></script>
<script src="js/Controller/LoginController.js"></script>
<script src="js/Service/AuthenticationService.js"></script>
</body>
</html>
