<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Merge GitHub's PRs with Git Flow style</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/github.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">GHGFK</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/repo">Select repository</a></li>
      </ul>
      <div ng-show="user" class="navbar-right navbar-brand pull-right ng-cloak">
          <a href="#/login">
            Welcome {{ user.name }}
          </a>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

    <h2>DON'T USE THIS IN PRODUCTION</h2>

    GitHub token is saved in the browser's localStorage
    <div ng-controller="AlertController as ac" class="ng-cloak">
        <div class="alert alert-{{ ac.alert.type }}" ng-repeat="alert in ac.alerts" role="alert">
            <button type="button" class="close" ng-click="ac.close($index)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{alert.msg}}
        </div>
    </div>
    <div ng-view></div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../node_modules/typescript/lib/typescript.js"></script>
<script src="bower_components/system.js/dist/system.src.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script>
    System.config({
        transpiler: "typescript"
    });
    System.import("./js/app.ts");
</script>
</body>
</html>
